* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    height: 65px;
    display: flex;
    align-items: center;
    gap: 380px;
    padding-left: 35px;
    padding-top: 5px;
    background-color: #373A3C;
    color: #9b9c9d;
}

.header-div {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header-div1 ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-div1 ul li a {
    color: #9b9c9d;
}

span {
    color: #FFFFFF;
}

.header-input {
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border: none;
}

.header-div2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-div2 a {
    color: #9b9c9d;
}

.content1 {
    background-image: url(../img/bakground-img2.png);
    height: 550px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.content1-div1 {
    margin-left: 780px;
    padding-top: 105px;
    color: #FFFFFF;
}

.content1-div1 h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.content1-div1-button1 {
    width: 135px;
    height: 38px;
    background-color: #8dd83d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 140px;
    margin-right: 15px;
}

.content1-div1-button2 {
    width: 150px;
    height: 38px;
    background-color: #8dd83d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.content2 {
    text-align: center;
    padding-top: 100px;
}

.content2 h1 {
    color: #435766;
    margin-bottom: 200px;
}

.content2-button1 {
    width: 170px;
    height: 50px;
    background-color: #8dd83d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 15px;
}

.content2-button2 {
    width: 235px;
    height: 50px;
    background-color: #5d6365;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.one-img {
    padding-top: 100px;
    text-align: center;
}

.content3 {
    padding-top: 100px;
    padding-left: 200px;
}

.content3-div1 {
    display: flex;
    gap: 205px;
    color: #435766;
}

.content3-div2 {
    display: flex;
    gap: 250px;
    color: #435766;
    margin-top: 100px;
}

.content3-img {
    width: 400px;
}

.content3-div1 h2 {
    margin-left: 30px;
}

.content4 {
    color: #435766;
}

.content4 h1 {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 50px;
}

.contend4-div {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 270px;
}

.content4-div1 p {
    margin-bottom: 20px;    
}

.content4-button1 {
    width: 235px;
    height: 50px;
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 20px;
    background-color: #515557;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content4-buttn2 {
    width: 235px;
    height: 50px;
    background-color: #8dd83d;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    width: 1349px;
    height: 410px;
    background-color: #373a3c;
    margin-top: 100px;
}

.footer-div1-div1 h3 {
    color: #7DD42F;
    margin-bottom: 30px;
}

.footer-div1-div1 ul li {
    margin-bottom: 30px;
}

.footer-div1-div1 ul li a {
    color: #FFFFFF;
}

.footer-div1 {
    display: flex;
    align-items: baseline;
    gap: 270px;
    padding-top: 60px;
    padding-left: 160px;
}

.footer-div1-div2 h3 {
    color: #7DD42F;
    margin-bottom: 30px;
}

.footer-div1-div2 img {
    cursor: pointer;
}

.footer-div2 img {
    margin-top: 50px;
    margin-left: 100px;
}

.div2-div1 {
    display: flex;
    align-items: center;
    gap: 930px;
    margin-top: 20px;
    margin-left: 100px;
}

.div2-div1 h4 a {
    color: #FFFFFF;
}